[submodule "vendor/github.com/bkaradzic/bgfx"]
	path = vendor/github.com/bkaradzic/bgfx
	url = https://github.com/bkaradzic/bgfx.git
[submodule "vendor/github.com/bkaradzic/bx"]
	path = vendor/github.com/bkaradzic/bx
	url = https://github.com/bkaradzic/bx.git
[submodule "vendor/github.com/bkaradzic/bimg"]
	path = vendor/github.com/bkaradzic/bimg
	url = https://github.com/bkaradzic/bimg.git
[submodule "vendor/github.com/gabime/spdlog"]
	path = vendor/github.com/gabime/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "vendor/asio"]
	path = vendor/asio
	url = https://github.com/chriskohlhoff/asio.git
[submodule "vendor/github.com/libsdl-org/SDL"]
	path = vendor/github.com/libsdl-org/SDL
	url = https://github.com/libsdl-org/SDL
[submodule "vendor/github.com/nayuki/QR-Code-generator"]
	path = vendor/github.com/nayuki/QR-Code-generator
	url = https://github.com/nayuki/QR-Code-generator
